<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="app">
        <div class="row mt-5">
            <div class="col-12 border-bottom mb-5 d-flex justify-content-between align-items-center">
                <h2>{{name}}</h2>
                <h6>{{contactsCount}}</h4>
            </div>
            <div class="col-4">
                <form action="">
                    <!--<div class="form-group mr-1">
                        <label>Nome</label>
                        <input type="text" class="form-control" value="usand value no html">
                    </div>
                    <div class="form-group mr-1">
                        <label>E-mail</label>
                        <input type="email" class="form-control" v-bind:value="contact.email">
                    </div>-->
                    <div class="form-group mr-1">
                        <label>Nome</label>
                        <input type="text" class="form-control" v-model="contact.name">
                    </div>
                    <div class="form-group mr-1">
                        <label>E-mail</label>
                        <input type="email" class="form-control" v-model="contact.email">
                    </div>
                    <div class="form-group mr-1">
                        <label>Telefone</label>
                        <input type="phone" class="form-control" v-model="contact.phone">
                    </div>
                    <div class="form-group ml-1">
                        <button v-if="!isEdit" class="btn btn-lg btn-rounded btn-success" @click.prevent="createContact(contact)">Criar</button>
                        <button v-if="isEdit" class="btn btn-lg btn-rounded btn-success" @click.prevent="updateContact(contact)">Atualizar</button>
                    </div>
                </form>
            </div>
            <div class="col-8 border-left">
                <div class="contact">
                    <div class="col-12 mb-2" v-for="item in contacts">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text">{{item.email}} - {{item.phone}}</p>
                                <a href="#" class="btn btn-sm btn-primary" @click.prevent="editContact(item)">EDITAR</a>
                                <a href="#" class="btn btn-sm btn-danger" @click.prevent="removeContact(item.id)">DELETAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                name: 'Contatos APP',
                contacts: [],
                contact: {
                    id: '',
                    name:'',
                    email: '',
                    phone: ''
                },
                isEdit: false
            },
            computed: {
                contactsCount(){
                    return `Total de contatos : ${this.contacts.length}`;
                }
            },
            created(){
                this.contacts = JSON.parse(localStorage.getItem('contactsApp'));
            },
            methods:{
                createContact(contact){
                    let contacts = localStorage.getItem('contactsApp');
                    contact.id = new Date().getTime();
                    if(contacts){
                        contacts = JSON.parse(contacts);
                        contacts.push(contact);
                    } else {
                        contacts = [contact];
                    }
                    this.contacts = contacts;
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));
                    //uma forma de limpar o formulario
                    this.contact = {};
                },
                removeContact(id){
                    let contacts = localStorage.getItem('contactsApp');
                    if (!contacts) return;
                    contacts = JSON.parse(contacts);
                    contacts = contacts.filter((contact) => {
                        return contact.id != id;
                    });
                    this.contacts = contacts;
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));
                },
                editContact(contact){
                    this.contact = contact
                    this.isEdit = true;
                },
                updateContact(contact){
                    let contacts = this.contacts.map(contactMap => {
                        if(contactMap.id == contact.id){
                            return contact;
                        }
                        return contactMap;
                    });
                    this.contacts = contacts;
                    this.isEdit = false;
                    localStorage.setItem('contactsApp', JSON.stringify(contacts));
                    //uma forma de limpar o formulario
                    location.reload();
                }
            }
        });
    </script>
</body>

</html>